body{
font-family: 'Roboto', sans-serif;
min-height: 100vh;
height: 100vh;
scroll-behavior: smooth;

}

#section-1{
    filter: grayscale(0.5);
}
.underline{
    width: 18rem;
    height: 0.4rem;

}
.height-80{
    min-height:80vh;
}
#section-background{
    background-image: url(/assets/images/wallpaper-group-edited.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: grayscale(0.6);
}
/* #progrress-bg{
    background-image: url(/assets/images/BG-Fury\ header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */
i{
    font-size: 2rem !important;
}
a:hover{
    text-decoration: underline!important;
    text-decoration-color:red !important;
}
#attribbution{
    opacity: 0.8;
}