body{
font-family: 'Roboto', sans-serif;
min-height: 100vh;
scroll-behavior: smooth;

}

#section-1{
    filter: grayscale(0.5);
}
.underline{
    width: 18rem;
    height: 1rem;

}
.height-80{
    min-height:80vh;
}
#section-background{
    background-image: url(/assets/images/wallpaper-group-edited.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: grayscale(0.6);
}